body{
     font-family: sans-serif;
     /*background-color: hotpink;*/
     margin: 0;
}
ul {
     list-style-type:none;
}

nav{
     background-color: white;  
     border-radius:20px;
}

a{
     text-decoration: none;
}

.tarjeta img {
     width: 100%;
     
}

#menu {
     display: none;
}

button {
     border: none;
     background-color: transparent;
     padding: 20px;
}

#ads,#seeAll, #bestOfTheWeek, #travel{
     border-radius: 50px;
}

section img, aside img {
     border-radius: 50px;
}

.tarjeta {
     margin: 20px 0;
}


#travel {
     position: relative;
}

#travel span {
     position: absolute;
     background-color: white;
     border-radius: 20px;
     padding: 0 20px;
     top: 20px;
     left: 20px;
     font-size: 50px;
}

#travel button{
     position: absolute;
     background-color: white;
     border-radius: 20px;
     padding: 0 20px;
     top: 80px;
     left: 20px;
     font-size: 40px;
}

#travel .info {
     position: absolute;
     
     padding: 0 20px;
     bottom: 20px;
     right: 20px;
     
}



#travel .info h2,
#travel .info span {
     font-size: 20px;
     background-color: white;
     border-radius: 20px;
     margin: 10px 0;
}

#travel .info span {
     left: 0;
     top: 0;
     position: relative;
}

#ads {
     background-color: lightgreen;
}
#seeAll {
     background-color: lightblue;
}

#ads {
     position: relative;
     padding: 40px;
     text-align: center;
}
#ads button {
     position: absolute;
     right: 20px;
     top: 20px;
     border: solid 1px black;
     font-weight: bold;
     border-radius: 50%; 
     padding: 20px;    
}
#ads * {
     display: block;
}
/*Breakpoints*/
@media screen and (min-width: 769px){
     main {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
     }
     nav ul{
          display: flex;
          justify-content: space-around;
     }
     
     section {
          width: 60%;
          display: flex;
          flex-direction: column;
     }
     aside {
          width: 30%;
          margin: 0 auto;
     }
     #travel{
          background-color: hotpink;
     }
     
     
     #ads,#seeAll {
          margin: 20px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
     }
}

@media screen and (max-width:768px) {
     nav {
          border: solid 1px black;
     }
     #buscar {
          display: none;
     }
     #menu {
          display: block;
          width: 100%;
     }
     nav ul {
          display: none;
     }
     
     #travel span{
          font-size: 25px;
     }
     #travel button {
          font-size: 20px;
     }
}


@media screen and (orientation: landscape){
     * {
          display: block;
     }
}
.rojo {
     background-color: red;
}

.ocultar {
     display: none;
}